:root {
    --main-color: #FED136;
    --other-color: #222222;
    --footer-color: #FFFFFF;
    --button-color: #FFFFFF;
    --bacground-for-footer-color: #222222;
    --same-thing-color: #BBBBBB;
    --footer-lorem-color: #777777;
}

.golden-logo{
    color: var(--main-color);
    font-family: "Bilbo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  align-items: center;
}

.header-menu a {
    color: #FED136;
text-decoration: none;
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
align-items: center;
}

.header-menu{
  list-style: none;
}

.menu{
    display: inline-table;
}

.abel-par{
      font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 826px;
}

.services{
    margin-left: 856px;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font: bold;
  font-size: 40px;
}


.footer{
  background-color: var(--bacground-for-footer-color);
  color: var(--button-color);
  border-radius: 2px;
  border: none;
}

.lorem{
  color: var(--footer-lorem-color);
  margin-left: 840px;
}

.footer-button{
  background-color: var(--main-color);
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  border-radius: 2px;
  border: none;
}

.contact{
  margin-left: 900px ;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.form {
background-color: #222222;
}