:root {
  --main-color: #fed136;
  --other-color: #222222;
  --footer-color: #ffffff;
  --button-color: #ffffff;
  --bacground-for-footer-color: #222222;
  --same-thing-color: #bbbbbb;
  --footer-lorem-color: #777777;
}

.golden-logo {
  color: var(--main-color);
  font-family: "Bilbo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  align-items: center;
}

.container {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  width: 933px;
  align-items: center;
  margin: 0 auto;
  outline: 1px solid blue;
  margin-bottom: 114px;
}

.container a {
  text-decoration: none;
  color: var(--main-color);
}

.menu {
  display: inline-table;
}

.abel-par {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 350px;
  margin: bottom 79px;
}

.services {
  margin-left: 390px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font: bold;
  font-size: 40px;
  margin-bottom: 8.5px;
  width: 223px;
  height: 75px;
}

.footer {
  background-color: var(--bacground-for-footer-color);
  color: var(--button-color);
  border-radius: 2px;
  border: none;
}

.lorem {
  color: var(--footer-lorem-color);
  margin-left: 390px;
}

.main-container {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  width: 933px;
  align-items: center;
  margin: 0 auto;
  outline: 1px solid blue;
  margin: bottom 119px;
}

.footer-button {
  background-color: var(--main-color);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.contact {
  margin-left: 500px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding-top: 92px;
}

.form {
  background-color: #222222;
}

.footer-container {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  width: 933px;
  align-items: center;
  margin: 0 auto;
  outline: 1px solid blue;
}


.email{
  margin-bottom: 28px;
  width: 457px;
  height: 53px;
}

.name{
  margin-bottom: 28px;
  width: 455px;
  height: 50px;
}